<div class="container">
  <h1>Student Info Dashboard</h1>

  <!-- Two-way binding for student name -->
  <input type="text" [(ngModel)]="student.name" placeholder="Enter your name" />

  
  <!-- Event binding to toggle status -->
  <button (click)="toggleActive()">Click</button>
  
  <!-- Interpolation with pipes -->
  <p>Name: {{ student.name | uppercase }}</p>
  <p>Course: {{ student.course }}</p>
  <p>Joining Date: {{ student.joiningDate | date:'longDate' }}</p>
  <p>Fees: {{ student.fees | currency:'INR' }}</p>

  <!-- Attribute directive to change color based on status -->
  <p [style.color]="student.isActive ? 'green' : 'red'">
    Status: {{ student.isActive ? 'Active' : 'Inactive' }}
  </p>


  <!-- *ngIf example -->
  <div *ngIf="student.isActive">
    <p>This student is currently active.</p>
  </div>
</div>
     <div *ngIf="!student.isActive">
     <p>This student is currently inactive.</p>
     </div>
